header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-bottom: 10px solid var(--qwik-dark-purple);
	margin-bottom: 30px;
}

header .logo a {
	display: inline-block;
	padding: 15px 10px 7px 10px;
}

header .title {
	font-size: 25px;
	align-content: center;
}
